
*{
background: black;
}

.card {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  color:white;
}

.nameSpace{
  font-style: bold;
}

.main-flex{
  display:flex;
  justify-content: center;
}
.fa-size{
    font-size: 23px;
  }

  .fa{
    margin-left:20px;
  }


