<div>
<div class="container ">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-body">
          contact:
          <span class="nameSpace">
           <b>8421607072</b>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-body">
          Email:
          <span class="nameSpace">
            <b>pritam.das19896@gmail.com</b>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-body">
          Place:
          <span class="nameSpace">
            <b>Mumbai</b>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="main-flex" >
  <div class="fa-size" >
    <a href="https://www.instagram.com/pritam.das__/" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true">
    </i></a>
    <a href="https://www.facebook.com/profile.php?id=100007438758444" target="_blank">
      <i class="fa fa-facebook-official" aria-hidden="true">
      </i></a>
    <a href="https://www.linkedin.com/in/pritam-das-37720314b" target="_blank">
      <i class="fa fa-linkedin" aria-hidden="true">
      </i></a>
    </div>
</div>
