.content-box{
  margin-top:2.1em;
}

.imgsize{
    display: block;
    margin: 2em auto;
    width: 12em;
    border: 0px white solid;
    border-radius: 50%;
    box-shadow: 12px 15px mediumblue;
}

.txtproperty{
    text-align: justify;
}

.card{
    border: 0px solid rgba(0,0,0,.125);
    /* position: absolute; */
}

.card-body {
    padding: 1.75rem 0rem;
}

h1{
    text-align: center;
  }
