<div class="outer">
  <h1 class="inner content-box">{{msg}}</h1>
</div>

<div class="container txtproperty">
    <div class="row">
      <div class="col-md-4 col-sm-12">
          <img class="imgsize" src="./assets/self.jpg" alt="profile pic">
      </div>
        <div class="col-md-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                  <h4>Few Words About Me</h4>
                  <p>
                    Experienced MEAN stack developer with over 4 years of expertise in building responsive
                    websites, focusing on strong frontend development.
                  </p>
                  <p>
                    A creative problem solver and a collaborative team player, I am available for contribution
                    to your projects. Passionate about continuous learning, I enjoy exploring new technologies
                    and finding inspiration through books, TED Talks and sketching.
                  </p>
                   <button
                    type="button" class="btn btn-outline-danger align-middle"
                     (click)="download()">My Resume</button>
                </div>
            </div>
        </div>

    </div>
</div>
