.content-box{
    margin-top:2.1em;
}

img{
    width:100%;
}

.img-size{
  width:90vw;
  /* height: 80vh; */
  height: auto;
}

@media (max-width: 750px){
  .img-size{
    width:100vw;
    height: auto;
  }
}
