.content-box{
    margin-top:2.1em;
}

img{
    width:100%;
}

.img-size{
  width:80vw ;
  /* height: 80vh; */
  height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px){
  .img-size{
    width:100%;
    height: auto;
  }
}

.img-border{
  border:2px solid black;
}
