.content-box{
    padding-top:2em;
}

img{
    width:100%;
}


.inner{
  background-color: black !important;
  width:70%;
  margin-left: 15%;
}

.outer{
  background-color: rgb(251, 74, 74) !important;
}

.img-size{
  width:80vw;
  height: auto;
}

