.nameSpace{
    display: inline;
    float: right;
  }

  .card{
    border: 0px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
  }

  .outter{
    overflow: hidden;
  }

  .skill-style{
    margin: 10px 10px;
  }

  h1{
    text-align: center;
  }
