h1{
    margin-top:10px;
    font-size:1.7rem;
    text-align: center;
    color:mediumblue;
  }

  a.disabled {
    pointer-events: none;
    font-size: 25px;
    color:mediumblue;
  }

  a{
    color:mediumblue;
  }

  .carousel-indicators li {
    background-color: mediumblue !important;
}

.navbar-light .navbar-toggler {
  background: white;
}


.carousel-indicators {
  background-color: transparent !important;
}
.carousel-control-prev, .carousel-control-next {
  background-color: transparent !important;
}

a.disabled {
  background-color: black !important;
}

.navbar-collapse {
  background-color: black !important;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    background-color:  black !important;
}
}
.navbar-nav .nav-link {
  background-color: black !important;
}

.bg-dark {
  background-color: black !important;
}

/* .inner{
  background-color: white !important;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  width:70%;
  margin: 0 auto;
}

.outer{
  background-color: rgb(251, 74, 74) !important;
} */


@media (max-width: 992px){

  h1{
    margin-top:10px;
    font-size:1.7rem;
    text-align: center;
    color:mediumblue;
  }

}
